{% extends 'base.html' %}

{% block title %} 山水一程 {% endblock %}
{% block other %}
    <link rel="stylesheet" href="/static/css/detail.css">
{% endblock %}
{% block this_about %}layui-this{% endblock %}

{% block about %}

    <div class="whitebg about timebox">
        <div class="ab_box"><i class="avatar_pic"><a href=""><img src="/static/images/avatar.jpg"></a></i>
            <h3>长安223</h3>
            <p>一个90后菜鸟！菜鸡码农、Python开发。</p>
            <p>一枚见习小辣鸡。一枚见习小辣鸡。一枚见习小辣鸡。一枚见习小辣鸡。</p>
        </div>
        <h2 class="gd_title">个人独白</h2>
        <p class="ab_dubai"></p>
        <p>一枚见习小辣鸡。一枚见习小辣鸡。一枚见习小辣鸡。一枚见习小辣鸡。一枚见习小辣鸡。
            一枚见习小辣鸡。一枚见习小辣鸡。一枚见习小辣鸡。一枚见习小辣鸡。一枚见习小辣鸡。
            一枚见习小辣鸡。一枚见习小辣鸡。一枚见习小辣鸡。一枚见习小辣鸡。一枚见习小辣鸡。
        </p>
        <p></p>
        <h2 class="gd_title">时间轴</h2>
        <p class="ab_dubai"></p>
        <ul id="list">
            <li><span>2018-11-08</span><i><a href="">回忆中，总有些瞬间，能温暖整个以前。</a></i></li>
            <li><span>2018-11-08</span><i><a href="">“为什么我每次吻你你都要睁眼睛”“因为我想牢牢看在心里，以后好回忆”《致青春》</a></i></li>
            <li><span>2018-11-08</span><i><a href="">我们留恋校园的每一个角落，只因为我们是它的主人，当然它也是我们青春的见证，因为那一年，我们十七八岁</a></i></li>
            <li><span>2018-11-08</span><i><a href="">青春也许就像写不完的诗，各式各样的都有。</a></i></li>
            <li><span>2018-11-08</span><i><a href="">我们怀念别人时，其实都是在从不一样的人身上怀念自己。</a></i></li>
            <li><span>2018-11-08</span><i><a href="">回忆本来是十分完美的，只要你能让过去的都过去。《爱在落日余晖时》</a></i></li>
            <li><span>2018-11-08</span><i><a href="">幸福不是等来的，爱一个人就要大胆去表白，只要你努力争取过，以后就不会后悔;</a></i></li>
            <li><span>2018-11-08</span><i><a href="">这是我们的故事，可我们既未预料到故事的开始，也未预料到故事的结束</a></i></li>
            <li><span>2018-11-08</span><i><a href="">我们将它怪责为命运，其实所有的悲欢离合，都由我们一笔一画地写出。</a></i></li>
            <li><span>2018-11-08</span><i><a href="">某些此刻勉强能够回忆起来的事情，开始在苍白寂寥的冬天。这样的日子。眼睛里蒙着的断层是只能看到咫尺的未来</a></i></li>
            <li><span>2018-11-08</span><i><a href="">之后我遇见很多人，像你的发，你的眼，却都不是你的脸。</a></i></li>
        </ul>
        <p></p>
        <h2 class="gd_title">我的博客</h2>
        <ul class="myblog">
            <li><b>创建时间</b>
                <p>2020年09月09日</p>
            </li>
            <li><b>主题模板</b>
                <p>
                    <a href="">《今夕何夕》</a>
                </p>
            </li>
            <li><b>网站程序</b>
                <p>python+django</p>
            </li>
            <li><b>服务器商</b>
                <p>腾讯云服务器</p>
            </li>
            <li><b>最后改版</b>
                <p>
                    <a href="">2019年09月09号</a>
                </p>
            </li>
        </ul>
    </div>
    </div>
{% endblock %}