{% extends 'base.html' %}

{% block title %} 搜索：{{ key }} {% endblock %}

{% block article %}
    <div class="layui-col-xs12 layui-col-sm9 layui-col-md9 lbox">

        <!--newslist-->
        <div class="layui-col-xs12 whitebg bloglist">
            <h2 class="htitle">搜索文章</h2>
            <ul>

                {% for article in articles %}

                    <li>
                        <h3 class="blogtitle"><span>&nbsp;&nbsp;</span><a href="{{ article.get_article_url }}" target="_blank">{{ article.title }}</a></h3>
                        <span class="blogpic imgscale">
                            {% if article.category %}
                            <i><a href="#" target="_blank">{{ article.category }}</a></i>
                            {% endif %}
                            <a href="{{ article.get_article_url }}" title="{{ article.title }}">
                            <img src="/static/images/b02.jpg" alt="{{ article.title }}"></a>
                        </span>
                        <p class="blogtext">{{ article.content |  truncatechars:140 }}</p>
                        <p class="bloginfo">
                            <i class="avatar">
                                <a href="{{ article.get_article_url }}" target="_blank">
                                    <img src="/static/images/avatar.jpg" alt="图片"></a>
                            </i>
                            <span>{{ article.author }}</span><span>{{ article.create_time }}</span>
                            <span>{{ article.read }} 浏览</span>
                            {% if article.category %}
                                <span>【<a href="http://jxhx.yangqq.com/notice/"
                                          target="_blank">{{ article.category }}</a>】</span>
                            {% endif %}
                        </p>
                        <a href="{{ article.get_article_url }}" class="viewmore">阅读更多</a>
                    </li>

                {% endfor %}

            </ul>
        </div>
    </div>




{% endblock %}